*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.logo{
    font-size: 40px;
    margin-left: 30px;
}
label b a{
    color: black;
}
nav{
    background-color: aqua;
    height: 70px;
}
nav ul{
    margin-top: 20px;
    float: right;
}
.nav-item li{
    display: inline-block;
}
.nav-item li a{
    padding: 8px;
    font-size: 20px;
}
.nav-item li a:hover{
    background-color: red;
    border-radius: 5px;

}
